.class-name {
  display: flex;
  font-size: 1.4em;
  margin-bottom: 3px;
  text-transform: capitalize;
}

.class-name img {
  display: inline-block;
  height: 30px;
  margin-right: 4px;
}

.class-name div {
  display: inline-block;
}
